@model IEnumerable<WorldExplorer.Models.Experience>

@{
    ViewData["Title"] = "Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>World Explorers</h2>
<hr />

<table class="table">
    <tr>
        <th>
            <h4>@Html.DisplayNameFor(model => model.Subject)</h4>
		</th>
		<th>
            <h4>@Html.DisplayNameFor(model => model.Description)</h4>
		</th>
        <th>
            <h4>@Html.DisplayNameFor(model => model.Location.Name)</h4>>
		</th>
		<th></th>
	</tr>

	@foreach (var listExperience in Model)
	{
        <tr>
            <td>
                @Html.DisplayFor(modelExperience => listExperience.Subject)
		    </td>
		    <td>
                @Html.DisplayFor(modelExperience => listExperience.Description)
		    </td>
		    <td>
                @Html.ActionLink("Edit", "Edit", new { id = listExperience.LocationId }) |
			    @Html.ActionLink("Details", "Details", new { id = listExperience.LocationId }) |
			    @Html.ActionLink("Delete", "Delete", new { id = listExperience.LocationId })
		    </td>
		    <td>
                @Html.DisplayFor(modelExperience => listExperience.Location.Name)
		    </td>
	    </tr>
        
	}
</table>
<p>
    @Html.ActionLink("Create New", "Create");
</p>